---
const personalImageAlt = "Alejandro Navarro";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1 text-justify"
  >
    <p>
      Soy <strong>Alejandro Navarro</strong>, Ingeniero de Software de Albacete,
      Espa침a. Actualmente estoy <strong
        >encargado de un proyecto de investigaci칩n</strong
      > en la Universidad de Castilla-La Mancha.
    </p>

    <p>
      Estoy comenzando mi carrera profesional en el mundo del <strong
        >desarrollo web y m칩vil</strong>. En mi GitHub puedes encontrar algunos de <strong>mis proyectos destacados m치s recientes</strong>.
    </p>
  
  </div>

  <img
    width="200"
    height="200"
    src="/alenavarroxp.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 hover:scale-105 transition-transform duration-500 ease-in-out cursor-pointer"
   
    style="object-position: 50% 50%"
  />
</article>
