---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Octubre 2024 - Actualidad",
    title: "Personal Técnico Investigador",
    company: "Universidad de Castilla-La Mancha",
    description:
      "Encargado de un proyecto de investigación en el área de la educación y la tecnología. Desarrollo de un entorno de aprendizaje personalizado para estudiantes.",
    link: "https://tecnocra.i3a.uclm.es/",
  },
  {
    date: "Febrero 2024 - Agosto 2024",
    title: "Becario - Prácticas en empresa ",
    company: "Capgemini España",
    description:
      "Colaboré en un proyecto de creación de flujos automatizados con Power Automate y monitorización de logs para cliente.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
